# fwkit - local/cups.service
iptables -A INPUT -p tcp --dport 631 -m conntrack --cstate NEW -j ACCEPT
iptables -A INPUT -p udp --dport 631 -m conntrack --cstate NEW -j ACCEPT
