# fwkit - local/dhcp.service
iptables -A INPUT -p udp --dport 67 -m conntrack --ctstate NEW -j ACCEPT
iptables -A OUTPUT -p udp --dport 68 -m conntrack --ctstate NEW -j ACCEPT
