# fwkit - local/ftp.service
modprobe nf_conntrack_ftp

# control connections
iptables -A INPUT -p tcp -m tcp --dport 21 -m conntrack --cstate ESTABLISHED,NEW -j ACCEPT
iptables -A OUTPUT -p tcp -m tcp --dport 21 -m conntrack --cstate NEW,ESTABLISHED -j ACCEPT

# active data connections
iptables -A INPUT -p tcp -m tcp --dport 20 -m conntrack --cstate ESTABLISHED,RELATED -j ACCEPT
iptables -A OUTPUT -p tcp -m tcp --dport 20 -m conntrack --cstate ESTABLISHED -j ACCEPT

# passive data connections
iptables -A INPUT -p tcp -m tcp --sport 1024: --dport 1024: -m conntrack --cstate ESTABLISHED -j ACCEPT
iptables -A OUTPUT -p tcp -m tcp --sport 1024: --dport 1024: -m conntrack --cstate ESTABLISHED,RELATED -j ACCEPT
