# fwkit - local/kerberos.service
iptables -A INPUT -p tcp --dport 88 -m conntrack --ctstate NEW -j ACCEPT
iptables -A INPUT -p udp --dport 88 -m conntrack --ctstate NEW -j ACCEPT
