# fwkit - local/ldap.service
iptables -A INPUT -p tcp --dport 389 -m conntrack --ctstate NEW -j ACCEPT
iptables -A INPUT -p udp --dport 389 -m conntrack --ctstate NEW -j ACCEPT
