# fwkit - local/radius.service
iptables -A INPUT -p tcp --dport 1812 -m conntrack --ctstate NEW -j ACCEPT
iptables -A INPUT -p udp --dport 1812 -m conntrack --ctstate NEW -j ACCEPT
