# fwkit - remote/kpasswd.service - Kerberos kpasswd
iptables -A OUTPUT -p tcp --dport 464 -m conntrack --ctstate NEW -j ACCEPT
iptables -A OUTPUT -p udp --dport 464 -m conntrack --ctstate NEW -j ACCEPT
