# fwkit - remote/msgc-ssl.service - Microsoft Global Catalog over TLS (Active Directory); 3269/tcp
iptables -A OUTPUT -p tcp --dport 3269 -m conntrack --ctstate NEW -j ACCEPT
