# fwkit - remote/rpcls.service - End Point Mapper (DCE/RPC Locator Service)
iptables -A OUTPUT -p tcp --dport 135 -m conntrack --ctstate NEW -j ACCEPT
