#!/usr/sbin/fwksrv
# fwkit - atrt.service - All the Right Type; 3738/tcp

services:
  atrt:
    description: All the Right Type
    connections:
      -
        protocol: tcp
        listen_port: 3728
        states: new
