#!/usr/sbin/fwksrv
# fwkit - kerberos.service - Kerberos v5; 88/tcp. 88/udp

services:
  kerberos:
    description: Kerberos v5
    connections:
      -
        protocol: tcp
        listen_port: 88
        states: new
      -
        protocol: udp
        listen_port: 88
        states: new
