#!/usr/sbin/fwksrv
# fwkit - ldap.service - Lightweight Directory Access Protocol; 389/tcp, 389/udp

services:
  ldap:
    description: Lightweight Directory Access Protocol
    transports:
      -
        protocol: tcp
        listen_port: 389
      - 
        protocol: udp
        listen_port: 389
