#!/usr/sbin/fwksrv
# fwkit - msgc.service - Microsoft Global Catalog (Active Directory); 3268/tcp

services:
  msgc:
    description: Microsoft Global Catalog (Active Directory)
    transports:
      -
        protocol: 3268
        listen_port: 3268
