#!/usr/sbin/fwksrv
# fwkit - msrpc.service - Microsoft RPC Dynamic Ports; 1024-1300/tcp, 49152-65535/tcp

services:
  msrpc:
    description: Microsoft RPC Dynamic Ports
    transports:
      -
        description: ports prior to samba 4.7
        protocol: tcp
        listen_port: 49152:65525
      -
        description: ports for samba 4.7+
        protocol: tcp
        listen_port: 1024:1300
