#!/usr/sbin/fwksrv
# fwkit - radacct.service - RADIUS Accounting; 1813/tcp, 1813/udp

services:
  radacct:
    description: RADIUS Accounting
    connections:
      - 
        protocol: tcp
        listen_port: 1813
        states: new
      - 
        protocol: udp
        listen_port: 1813
        states: new
