#!/usr/sbin/fwksrv
# fwkit - radius.service - RADIUS Authentication; 1812/tcp, 1812/udp

services:
  radius:
    description: RADIUS Authentication
    connections:
      -
        protocol: tcp
        listen_port: 1812
        states: new
      - 
        protocol: udp
        listen_port: 1812
        states: new
