#!/usr/sbin/fwksrv
# fwkit - rdp.service - Remote Desktop Protocol; 3389/tcp

services:
  rdp:
    description: RDP (Remote Desktop Protocol)
    connections:
      -
        protocol: tcp
        listen_port: 3389
        states: new
