#!/usr/sbin/fwksrv
# fwkit - smtp.service - Simple Message Transfer Protocol; 25/tcp

services:
  smtp:
    description: SMTP (Simple Message Transfer Protocol)
    connections:
      -
        protocol: tcp
        listen_port: 25
        states: new
